In [21]:
import pandas as pd
import numpy as np
from scipy import stats

In [18]:
data = pd.read_csv('illiteracy.txt', sep='\t')

In [20]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [22]:
stats.pearsonr(data.Illit, data.Births)

(0.768663027115179, 1.5029095259924717e-19)

In [23]:
stats.spearmanr(data.Illit, data.Births)

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)

In [24]:
water = pd.read_table('water.txt')

In [25]:
water.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [81]:
stats.pearsonr(water.mortality, water.hardness)

(-0.6548486232042465, 1.0331339260349571e-08)

In [29]:
stats.spearmanr(water.hardness, water.mortality)

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

In [39]:
stats.pearsonr(water[water.location=='South'].hardness, water[water.location=='South'].mortality)

(-0.6021532715484158, 0.0011346743048161927)

In [40]:
stats.pearsonr(water[water.location=='North'].hardness, water[water.location=='North'].mortality)

(-0.3685978383288718, 0.029344659047110606)

In [52]:
c = 515.
d = 718.
a = 239.
b = 203.
print (a*d-b*c)/(np.sqrt((a+b)*(a+c)*(b+d)*(c+d)))

0.10900237458678963

In [53]:
met = np.array([[a,b],[c,d]])
stats.chi2_contingency(met)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[198.96597015, 243.03402985],
        [555.03402985, 677.96597015]]))

In [55]:
p1 = a/(a+c)
p2 = b/(d+b)
P = (p1*(a+c) + p2*(d+b))/(a+b+c+d)

In [56]:
z = stats.norm.ppf(1-0.05/2)
left = p1-p2 - z*np.sqrt(p1*(1-p1)/(a+c) + p2*(1-p2)/(d+b))
right = p1-p2 + z*np.sqrt(p1*(1-p1)/(a+c) + p2*(1-p2)/(d+b))
print (left, right)

(0.053905233215813156, 0.13922183141523897)

In [58]:
print 2*(1-stats.norm.cdf(np.abs((p1-p2)/np.sqrt(P*(1-P)*(1/(a+c) + 1/(d+b))))))

8.153453089576601e-06

In [62]:
l = [[197, 111, 33], [382, 685, 331], [110, 342, 333]]
stats.chi2_contingency(l)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [80]:
n = sum(map(lambda  x, y, z: x+y+z, l[0], l[1], l[2]))
print np.sqrt(stats.chi2_contingency(l)[0]/(n*2))

0.2412013934500338